<%- include("../../partials/header.ejs") %>
<body>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
                <br>
                <%- include ("../../partials/_msg.ejs")%>
            </div>
        <div class="card-body">
            <form action="/autenticar" method="POST">
                <label for="email">Email : </label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Digite o email">
                <br>
                <label for="senha">Senha : </label>
                <input class="form-control" type="senha" name="senha" id="senha" placeholder="Digite a senha">
                <br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
                <a href="/usuario/criar" class="btn btn-primary btn-block">Criar usuário</a>
            </form>
        </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>