<% if (msg_sucesso != '') { %>
<div class="container">
    <div class="alert alert-success"><%= msg_sucesso %> </div>
</div>
<% } %>

<% if (msg_erro != '') { %>
<div class="container">
    <div class="alert alert-danger"><%= msg_erro %></div>
</div>
<% } %>